
body {
  background-color: grey;
  display: grid;
  font-family: sans-serif;
	font-size: 24px;
	margin: 0;
  min-height: 100vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 50% 30%;
  grid-template-rows: 
  "null title null"
  "null main null"
  "null footer null";
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#title {
  text-align: center;
  grid-area: 1 / 2;
}

#game-area{
  background-color: white;
  grid-area: 2 / 2;
}


.button {
  background-color: blueviolet;
}

footer {
  background-color: black;
  grid-area: 3 / 2;
}